body{
    background-image: url("../images/ban.png");
    background-repeat: no-repeat;
    background-size: 100% ;
    overflow :hidden;
}

.logo{
    margin-left: 35%;

}

#logo{
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-duration: 2s;
    -moz-animation-delay: 2s;
    -moz-animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

#player{
    position: relative;
    margin: 200px auto;
    left: 63%;
    top: 13%;
}
#play{
    position: relative;
    margin: 200px auto;
    top:-55%;
    left:44%;
    z-index:1;
}
.container{
    position: relative;
    margin: 200px auto;
    top:-105%;
    left:-4%;
    opacity: 0.8;

}
#err{
    width:30%;
    color: white;
    background-color: #de504e;
    font-size: 20px;
    font-style: bold;

}

#er{
    width:30%;
    color: black;

}
a{
    color: white;
}
a:hover{
    color:#032f1d;
}
#errr{

    width:30%;
    font-color: white;
    background-color: #de504e;
    font-size: 20px;
    font-style: bold;
}
